*{
  padding: 0;
  margin: 0;
}

.App{
     width: 100%;
    display: flex;
    padding: 30px;
    box-sizing: border-box;
}

.left-container{
  width: 30%;
}

 .right-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
 }

.filter-elements{
  margin-right: 20px;
}

.search{
  width:75%;
}

.element-padding{
  padding:5px
}

input{
  width: 100%;
}

.imgcont{
  padding: 4px;
  width: 150px;
  overflow: hidden;
}
.right{
  width:100%
}

.repoList{
  widows: 100%;
}

.repoContiner{
  display: flex;
  border-bottom: 1px solid grey;
  padding: 20px 0px;
}

.moreDetails  {
  padding: 20px 0px;
}